<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard Builder</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/css/theme.css">

    <link rel="stylesheet" href="../static/assets/css/loopple/loopple.css">
</head>

<body class="null">
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto text-center mb-5">
                    <a href="/" class="badge rounded-pill bg-primary mb-2">Go to the Home page</a>
                    <h2>MODEL DESCRIPTION</h2>
                    <p><strong>Model:</strong> YOLOv8</p>
    <p><strong>Training Environment:</strong> Kaggle with 2 TPUs and 15GB RAM</p>
    <h4>Training Configuration:</h4>
    <ul>
        <li><strong>Epochs:</strong> 100</li>
        <li><strong>Batch Size:</strong> 32</li>
    </ul>
    <p><strong>Dataset:</strong> Trained on a dataset of 10,000 images</p>
    <p><strong>Model Size:</strong> Large variant of YOLOv8</p>
                </div>
            </div>
        </div>

        <style>
            .square-box {
                height: 100%;
                aspect-ratio: 1 / 1;
            }
        </style>

<div class="container-fluid">
    <div class="row mb-3 justify-content-center">
        <div class="col-md-6" style="max-width: 40%; margin: auto;">
            <div style="background-image: url('../static/src/confusion_matrix_normalized.png'); background-size: contain; background-repeat: no-repeat; background-position: center;" class="w-100 square-box border-radius-lg"></div>
        </div>
        <div class="col-md-6" style="max-width: 40%; margin: auto;">
            <div style="background-image: url('../static/src/F1_curve.png'); background-size: contain; background-repeat: no-repeat; background-position: center;" class="w-100 square-box border-radius-lg"></div>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-md-6" style="max-width: 40%; margin: auto;">
            <div style="background-image: url('../static/src/labels.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center;" class="w-100 square-box border-radius-lg"></div>
        </div>
        <div class="col-md-6" style="max-width: 40%; margin: auto;">
            <div style="background-image: url('../static/src/P_curve.png'); background-size: contain; background-repeat: no-repeat; background-position: center;" class="w-100 square-box border-radius-lg"></div>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-md-6" style="max-width: 40%; margin: auto;">
            <div style="background-image: url('../static/src/PR_curve.png'); background-size: contain; background-repeat: no-repeat; background-position: center;" class="w-100 square-box border-radius-lg"></div>
        </div>
        <div class="col-md-6" style="max-width: 40%; margin: auto;">
            <div style="background-image: url('../static/src/R_curve.png'); background-size: contain; background-repeat: no-repeat; background-position: center;" class="w-100 square-box border-radius-lg"></div>
        </div>
    </div>
</div>




    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/soft-design-system.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/plugins/countup.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/plugins/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/js/plugins/typedjs.js"></script>
    <script>
    <script src="../static/assets/js/loopple/loopple.js"></script>
</body>

</html>
